<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="登陆">
</form>
<form action="/edit">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="更新">
</form>
<form action="/logout">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="删除">
</form>
</body>
</html>